In [2]:
import pandas as pd
import numpy as np

In [175]:
# Generamos datos para los dataframe
cant_locacion = np.arange(10)
cant_categoria = np.arange(20)
cant_espectadores = np.arange(100)
capacidad = np.arange(100)
capacidad_extendida = np.arange(20)

fecha_inicio = '2018-09-25'
fecha_fin = '2018-11-01'

nombre_eventos = ["A", "B", "C","D", "E", "F", "G"]
nombre_sede = ["av","puerto_madero","tecnopolis"]
nombre_categoria = ["boxeo","natacion","voley","futbo","tenis","equitacion","yudo","remo","arco","dance"]
                    
                    
                    
eventos = pd.DataFrame({
    'fecha': pd.date_range(start=fecha_inicio, end=fecha_fin, periods=2000),
    'id_eventos': np.arange(2000),
    'id_locacion': np.random.choice(cant_locacion, 2000, replace=True),
    'id_categorias':np.random.choice(cant_categoria, 2000, replace=True),
    'nombre_evento': np.random.choice(nombre_eventos, 2000),
    'cant_espectadores': np.random.choice(cant_espectadores, 2000, replace=True),
})

locacion = pd.DataFrame({
    'id_locacion': np.arange(10),
   'nombre_locacion':["rojo","blanco","verde","amarillo","violeta","azul","gris","negro","naranja","celeste"],
   'capacidad': np.random.choice(capacidad, 10, replace=True),
    'capacidad_extendida': np.random.choice(capacidad_extendida, 10 , replace=True),
    'sede': np.random.choice(nombre_sede,10),
})


categorias_deportivas = pd.DataFrame({
    'id_categorias': np.arange(10),
    'nombre_categoria' : ["boxeo","natacion","voley","futbo","tenis","equitacion","yudo","remo","arco","dance"]
})

In [183]:
eventos.head(30)

,fecha,id_eventos,id_locacion,id_categorias,nombre_evento,cant_espectadores
0,2018-09-25 00:00:00.000000000,0,1,3,G,2
1,2018-09-25 00:26:39.199599872,1,4,9,F,66
2,2018-09-25 00:53:18.399199488,2,3,5,E,75
3,2018-09-25 01:19:57.598799360,3,5,12,D,77
4,2018-09-25 01:46:36.798399232,4,3,10,C,48
5,2018-09-25 02:13:15.997999104,5,2,8,B,63
6,2018-09-25 02:39:55.197598720,6,4,5,B,93
7,2018-09-25 03:06:34.397198592,7,3,16,D,51
8,2018-09-25 03:33:13.596798464,8,2,7,C,95
9,2018-09-25 03:59:52.796398080,9,0,14,E,96
10,2018-09-25 04:26:31.995997952,10,3,4,E,33
11,2018-09-25 04:53:11.195597824,11,6,12,C,51
12,2018-09-25 05:19:50.395197696,12,8,14,C,35
13,2018-09-25 05:46:29.594797312,13,7,10,E,39
14,2018-09-25 06:13:08.794397184,14,2,12,A,65
15,2018-09-25 06:39:47.993997056,15,2,6,A,82
16,2018-09-25 07:06:27.193596672,16,8,4,G,72
17,2018-09-25 07:33:06.393196544,17,9,9,F,65
18,2018-09-25 07:59:45.592796416,18,8,11,B,90
19,2018-09-25 08:26:24.792396288,19,7,11,C,40
20,2018-09-25 08:53:03.991995904,20,4,14,B,95
21,2018-09-25 09:19:43.191595776,21,9,12,C,83
22,2018-09-25 09:46:22.391195648,22,4,2,E,16
23,2018-09-25 10:13:01.590795520,23,8,8,A,57
24,2018-09-25 10:39:40.790395136,24,6,19,E,99
25,2018-09-25 11:06:19.989995008,25,2,11,G,0
26,2018-09-25 11:32:59.189594880,26,7,16,C,97
27,2018-09-25 11:59:38.389194496,27,1,7,B,80
28,2018-09-25 12:26:17.588794368,28,1,0,B,65
29,2018-09-25 12:52:56.788394240,29,8,10,G,42

In [182]:
locacion

   id_locacion nombre_locacion  capacidad  capacidad_extendida           sede
0            0            rojo         71                   19     tecnopolis
1            1          blanco         35                    7  puerto_madero
2            2           verde         66                   13             av
3            3        amarillo         52                    4     tecnopolis
4            4         violeta         99                   13     tecnopolis
5            5            azul         99                    7     tecnopolis
6            6            gris         67                    4  puerto_madero
7            7           negro          4                   19     tecnopolis
8            8         naranja         22                    0     tecnopolis
9            9         celeste         97                   15     tecnopolis

In [164]:
categorias_deportivas

   id_categorias nombre_categoria
0              0            boxeo
1              1         natacion
2              2            voley
3              3            futbo
4              4            tenis
5              5       equitacion
6              6             yudo
7              7             remo
8              8             arco
9              9            dance

#### a) Nombre de la sede que acumulo la mayor cantidad de espectadores en eventos durante el certamen del 14 al 15 de octubre inclusive . Esto es de vial importancia para distribuir el merchandising oficial del evento para las fechas finales

Pasos a seguir:
* filtrar fecha de archivo evento
* inner join entre dataframe sede y eventos
* agrupo sede y cant_espectadores y saco el de mayor cant_espectadores

In [165]:
eventos['fecha'] = pd.to_datetime(eventos['fecha'])
eventos['mes'] = eventos['fecha'].dt.month
eventos['dias']= eventos['fecha'].dt.day
eventos.mes.value_counts()

10    1674
9      325
11       1
Name: mes, dtype: int64

In [166]:
#filtro mes octubre y dia 14 y 15
eventos=eventos[eventos.mes==10]
eventos=eventos[(eventos.dias==14) | (eventos.dias==15)]
eventos.mes.value_counts()

10    108
Name: mes, dtype: int64

In [167]:
# inner join
combinado1= pd.merge(eventos,locacion, how='inner', on='id_locacion')

In [168]:
#selecciono columnas de archivo combinado1
agrupo=combinado1[['sede','cant_espectadores']]
agrupo.groupby('sede').count().sort_values(by='cant_espectadores', ascending=False).head(1)

      cant_espectadores
sede
av                   49

#### b) Nombre del evento y nombre de la categoria deportiva de aquellos eventos cuya cantidad de espectadores supero la capacidad de la locacion, mas alla de la capacidad extendida. Esto es vital importancia para detectar problemas de seguridado si es necesario realizar algun cambio de locacion

In [189]:
#forma de la sugerencia de la profesora
combinado2=pd.merge(eventos,locacion,how='inner', on='id_locacion')
combinado2['capacidad_maxima'] = combinado2.capacidad + combinado2.capacidad_extendida
combinado2['supero_capacidad'] = combinado2.capacidad > combinado2.capacidad_maxima
combinado2

,fecha,id_eventos,id_locacion,id_categorias,nombre_evento,cant_espectadores,nombre_locacion,capacidad,capacidad_extendida,sede,capacidad_maxima,supero_capacidad
0,2018-09-25 00:00:00.000000000,0,1,3,G,2,blanco,35,7,puerto_madero,42,False
1,2018-09-25 11:59:38.389194496,27,1,7,B,80,blanco,35,7,puerto_madero,42,False
2,2018-09-25 12:26:17.588794368,28,1,0,B,65,blanco,35,7,puerto_madero,42,False
3,2018-09-25 17:19:28.784392192,39,1,12,A,34,blanco,35,7,puerto_madero,42,False
4,2018-09-26 01:19:14.377188608,57,1,9,D,48,blanco,35,7,puerto_madero,42,False
5,2018-09-26 03:59:09.574787328,63,1,4,B,42,blanco,35,7,puerto_madero,42,False
6,2018-09-26 06:39:04.772386304,69,1,13,F,6,blanco,35,7,puerto_madero,42,False
7,2018-09-26 09:18:59.969985024,75,1,11,A,53,blanco,35,7,puerto_madero,42,False
8,2018-09-26 12:25:34.367183616,82,1,15,A,62,blanco,35,7,puerto_madero,42,False
9,2018-09-26 14:12:11.165582848,86,1,17,F,96,blanco,35,7,puerto_madero,42,False
10,2018-09-26 17:45:24.762381312,94,1,11,G,1,blanco,35,7,puerto_madero,42,False
11,2018-09-26 22:11:56.758379264,104,1,12,C,58,blanco,35,7,puerto_madero,42,False
12,2018-09-27 07:05:00.750375168,124,1,4,G,63,blanco,35,7,puerto_madero,42,False
13,2018-09-27 08:51:37.548774400,128,1,19,F,2,blanco,35,7,puerto_madero,42,False
14,2018-09-27 11:04:53.546773504,133,1,18,C,19,blanco,35,7,puerto_madero,42,False
15,2018-09-27 12:24:51.145572864,136,1,1,C,95,blanco,35,7,puerto_madero,42,False
16,2018-09-27 20:24:36.738369280,154,1,17,B,64,blanco,35,7,puerto_madero,42,False
17,2018-09-28 03:31:03.931965952,170,1,17,E,78,blanco,35,7,puerto_madero,42,False
18,2018-09-28 03:57:43.131565824,171,1,1,A,43,blanco,35,7,puerto_madero,42,False
19,2018-09-28 04:24:22.331165696,172,1,4,G,96,blanco,35,7,puerto_madero,42,False
20,2018-09-28 05:44:19.929965056,175,1,0,G,48,blanco,35,7,puerto_madero,42,False
21,2018-09-28 07:04:17.528764416,178,1,8,B,5,blanco,35,7,puerto_madero,42,False
22,2018-09-28 11:04:10.325162496,187,1,11,F,62,blanco,35,7,puerto_madero,42,False
23,2018-09-28 12:24:07.923961856,190,1,10,B,3,blanco,35,7,puerto_madero,42,False
24,2018-09-28 21:43:51.115557888,211,1,0,D,69,blanco,35,7,puerto_madero,42,False
25,2018-09-29 01:43:43.911955968,220,1,5,A,8,blanco,35,7,puerto_madero,42,False
26,2018-09-29 02:10:23.111555840,221,1,15,C,55,blanco,35,7,puerto_madero,42,False
27,2018-09-29 04:50:18.309154560,227,1,13,D,44,blanco,35,7,puerto_madero,42,False
28,2018-09-29 15:29:59.099549696,251,1,5,B,91,blanco,35,7,puerto_madero,42,False
29,2018-09-29 18:36:33.496748288,258,1,16,G,18,blanco,35,7,puerto_madero,42,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1970,2018-10-26 12:03:57.718859520,1702,9,19,E,97,celeste,97,15,tecnopolis,112,False
1971,2018-10-26 21:50:20.110054912,1724,9,15,E,49,celeste,97,15,tecnopolis,112,False
1972,2018-10-27 06:43:24.102051072,1744,9,1,G,49,celeste,97,15,tecnopolis,112,False
1973,2018-10-27 12:56:32.896448256,1758,9,12,F,66,celeste,97,15,tecnopolis,112,False
1974,2018-10-27 14:16:30.495247616,1761,9,11,F,28,celeste,97,15,tecnopolis,112,False
1975,2018-10-28 04:56:04.082041088,1794,9,14,F,18,celeste,97,15,tecnopolis,112,False
1976,2018-10-28 05:22:43.281640704,1795,9,19,E,40,celeste,97,15,tecnopolis,112,False
1977,2018-10-28 12:29:10.475237632,1811,9,18,E,52,celeste,97,15,tecnopolis,112,False
1978,2018-10-28 14:42:26.473236736,1816,9,12,G,96,celeste,97,15,tecnopolis,112,False
1979,2018-10-28 15:09:05.672836352,1817,9,18,A,40,celeste,97,15,tecnopolis,112,False
1980,2018-10-28 16:02:24.072036096,1819,9,6,G,37,celeste,97,15,tecnopolis,112,False
1981,2018-10-29 00:28:48.864432128,1838,9,8,C,69,celeste,97,15,tecnopolis,112,False
1982,2018-10-29 00:55:28.064032000,1839,9,9,E,53,celeste,97,15,tecnopolis,112,False
1983,2018-10-29 07:08:36.858429184,1853,9,4,B,20,celeste,97,15,tecnopolis,112,False
1984,2018-10-29 07:35:16.058029056,1854,9,6,C,96,celeste,97,15,tecnopolis,112,False
1985,2018-10-29 15:35:01.650825472,1872,9,17,E,64,celeste,97,15,tecnopolis,112,False
1986,2018-10-29 17:21:38.449224704,1876,9,12,F,65,celeste,97,15,tecnopolis,112,False
1987,2018-10-29 17:48:17.648824320,1877,9,3,E,35,celeste,97,15,tecnopolis,112,False
1988,2018-10-29 22:14:49.644822528,1887,9,4,G,95,celeste,97,15,tecnopolis,112,False
1989,2018-10-29 22:41:28.844422144,1888,9,8,E,99,celeste,97,15,tecnopolis,112,False
1990,2018-10-29 23:08:08.044022016,1889,9,19,D,87,celeste,97,15,tecnopolis,112,False
1991,2018-10-30 04:01:19.239619840,1900,9,11,A,39,celeste,97,15,tecnopolis,112,False
1992,2018-10-30 05:47:56.038019072,1904,9,15,A,24,celeste,97,15,tecnopolis,112,False
1993,2018-10-30 09:21:09.634817536,1912,9,4,B,36,celeste,97,15,tecnopolis,112,False
1994,2018-10-30 16:27:36.828414208,1928,9,18,F,96,celeste,97,15,tecnopolis,112,False
1995,2018-10-30 21:20:48.024012032,1939,9,2,B,87,celeste,97,15,tecnopolis,112,False
1996,2018-10-30 23:34:04.022010880,1944,9,19,B,9,celeste,97,15,tecnopolis,112,False
1997,2018-10-31 04:00:36.018009088,1954,9,18,A,96,celeste,97,15,tecnopolis,112,False
1998,2018-10-31 22:13:23.201600768,1995,9,8,D,2,celeste,97,15,tecnopolis,112,False
1999,2018-10-31 23:33:20.800400128,1998,9,14,F,81,celeste,97,15,tecnopolis,112,False

In [206]:
combinado3 = pd.merge(combinado2,categorias_deportivas, how='inner', on='id_categorias')
combinado3 = combinado3.groupby(['nombre_evento','nombre_categoria']).groups
combinado3

{('A',
  'arco'): Int64Index([597, 605, 606, 608, 611, 624, 628, 635, 637, 639, 654, 666, 669,
             675, 685],
            dtype='int64'),
 ('A',
  'boxeo'): Int64Index([208, 217, 223, 241, 253, 260, 267, 270, 272, 286], dtype='int64'),
 ('A',
  'dance'): Int64Index([312, 315, 318, 323, 328, 347, 350, 355, 377, 392], dtype='int64'),
 ('A',
  'equitacion'): Int64Index([693, 695, 698, 700, 711, 720, 729, 733, 734, 742, 746, 753, 762,
             773, 783, 784],
            dtype='int64'),
 ('A',
  'futbo'): Int64Index([2, 5, 17, 22, 23, 25, 27, 34, 42, 45, 62, 64, 73, 74, 80], dtype='int64'),
 ('A',
  'natacion'): Int64Index([502, 504, 507, 516, 522, 524, 526, 531, 532, 533, 536, 538, 551,
             552, 554, 557, 559, 568, 569, 580, 585, 587, 588],
            dtype='int64'),
 ('A',
  'remo'): Int64Index([108, 110, 111, 118, 120, 124, 125, 127, 141, 144, 152, 156, 164,
             169, 170, 171, 175, 177, 186, 189, 190, 196, 197, 198],
            dtype='int64'),
 ('A', 'tenis'): Int64Index([434, 443, 446, 473], dtype='int64'),
 ('A',
  'voley'): Int64Index([802, 811, 820, 842, 848, 855, 879], dtype='int64'),
 ('A',
  'yudo'): Int64Index([886, 888, 889, 896, 900, 901, 904, 905, 916, 939, 942, 950, 951,
             960, 967, 978, 982],
            dtype='int64'),
 ('B',
  'arco'): Int64Index([594, 598, 599, 601, 603, 604, 607, 609, 614, 616, 622, 633, 644,
             647, 650, 652, 656, 663, 679],
            dtype='int64'),
 ('B',
  'boxeo'): Int64Index([202, 205, 210, 212, 221, 226, 229, 236, 237, 240, 245, 250, 251,
             258, 273, 276, 277, 281, 284, 287],
            dtype='int64'),
 ('B',
  'dance'): Int64Index([302, 324, 326, 333, 343, 345, 346, 365, 383, 386, 387, 389], dtype='int64'),
 ('B',
  'equitacion'): Int64Index([694, 699, 702, 710, 724, 727, 730, 731, 736, 739, 743, 752, 755,
             758, 761, 764, 779],
            dtype='int64'),
 ('B',
  'futbo'): Int64Index([9, 13, 15, 30, 31, 54, 55, 60, 63, 65, 77, 84, 86, 94], dtype='int64'),
 ('B',
  'natacion'): Int64Index([512, 514, 520, 527, 535, 544, 545, 548, 575], dtype='int64'),
 ('B',
  'remo'): Int64Index([96, 102, 119, 123, 130, 132, 137, 142, 158, 165, 166, 176, 200], dtype='int64'),
 ('B',
  'tenis'): Int64Index([394, 398, 400, 401, 404, 415, 417, 421, 423, 424, 431, 432, 438,
             444, 450, 469, 471, 481, 491, 492, 497, 498, 500],
            dtype='int64'),
 ('B',
  'voley'): Int64Index([795, 797, 801, 819, 825, 828, 829, 834, 853, 854, 864, 878, 884], dtype='int64'),
 ('B',
  'yudo'): Int64Index([898, 907, 909, 915, 917, 918, 920, 928, 930, 934, 940, 944, 945,
             948, 955, 961, 962, 964, 965, 971, 972, 983],
            dtype='int64'),
 ('C',
  'arco'): Int64Index([620, 630, 631, 640, 641, 648, 659, 664, 674, 676, 687, 689, 690], dtype='int64'),
 ('C',
  'boxeo'): Int64Index([222, 231, 233, 239, 244, 246, 256, 263, 271], dtype='int64'),
 ('C',
  'dance'): Int64Index([301, 303, 321, 325, 327, 338, 340, 342, 354, 357, 369, 370, 371,
             373, 381],
            dtype='int64'),
 ('C',
  'equitacion'): Int64Index([703, 713, 715, 719, 725, 737, 744, 750, 751, 769, 771, 782, 786,
             787],
            dtype='int64'),
 ('C',
  'futbo'): Int64Index([3, 7, 21, 24, 29, 46, 48, 51, 52, 67, 75, 78], dtype='int64'),
 ('C',
  'natacion'): Int64Index([501, 508, 518, 519, 570, 574, 582, 586], dtype='int64'),
 ('C',
  'remo'): Int64Index([97, 103, 107, 114, 129, 133, 136, 143, 154, 167, 174, 178, 182,
             183, 184],
            dtype='int64'),
 ('C',
  'tenis'): Int64Index([409, 413, 426, 428, 433, 435, 445, 451, 454, 458, 464, 465, 466,
             476, 478, 482],
            dtype='int64'),
 ('C',
  'voley'): Int64Index([792, 799, 815, 821, 830, 831, 832, 835, 838, 861, 868, 871, 872,
             874, 881, 883],
            dtype='int64'),
 ('C',
  'yudo'): Int64Index([899, 902, 908, 914, 923, 924, 937, 943, 947, 956, 958, 963, 976,
             979, 986],
            dtype='int64'),
 ('D',
  'arco'): Int64Index([595, 600, 612, 613, 621, 632, 638, 642, 645, 651, 660, 661, 678,
             692],
            dtype='int64'),
 ('D',
  'boxeo'): Int64Index([204, 206, 211, 220, 234, 238, 243, 248, 254, 255, 259, 262, 264,
             266, 274, 296, 298],
            dtype='int64'),
 ('D',
  'dance'): Int64Index([299, 306, 317, 322, 339, 349, 351, 356, 362, 363, 366, 375, 384], dtype='int64'),
 ('D',
  'equitacion'): Int64Index([701, 712, 718, 721, 722, 726, 732, 749, 759, 767, 776, 785, 789], dtype='int64'),
 ('D',
  'futbo'): Int64Index([19, 20, 38, 40, 47, 58, 61, 66, 68, 70, 88, 90, 91, 92, 93], dtype='int64'),
 ('D',
  'natacion'): Int64Index([503, 506, 509, 513, 529, 541, 543, 549, 553, 555, 563, 566, 571,
             573, 578, 579],
            dtype='int64'),
 ('D',
  'remo'): Int64Index([98, 115, 117, 121, 128, 138, 140, 147, 163, 168, 172, 179, 180,
             185, 193, 194],
            dtype='int64'),
 ('D',
  'tenis'): Int64Index([402, 405, 418, 419, 420, 437, 439, 449, 457, 461, 462, 477, 485,
             487, 489, 495],
            dtype='int64'),
 ('D',
  'voley'): Int64Index([791, 796, 800, 806, 813, 826, 846, 847, 849, 850, 852, 856, 857,
             859, 865, 867, 875, 876, 877],
            dtype='int64'),
 ('D',
  'yudo'): Int64Index([893, 894, 912, 919, 925, 927, 949, 966, 969, 970, 973, 984], dtype='int64'),
 ('E',
  'arco'): Int64Index([596, 615, 617, 619, 623, 625, 626, 627, 655, 662, 677, 683, 684,
             691],
            dtype='int64'),
 ('E',
  'boxeo'): Int64Index([207, 209, 214, 216, 219, 225, 227, 242, 252, 261, 269, 279, 280,
             285, 297],
            dtype='int64'),
 ('E',
  'dance'): Int64Index([300, 305, 314, 329, 335, 341, 353, 364, 367, 379, 380, 382, 393], dtype='int64'),
 ('E',
  'equitacion'): Int64Index([696, 714, 717, 723, 741, 745, 747, 754, 763, 765, 781, 788], dtype='int64'),
 ('E',
  'futbo'): Int64Index([8, 18, 26, 41, 43, 44, 49, 72, 81, 89, 95], dtype='int64'),
 ('E',
  'natacion'): Int64Index([510, 521, 539, 540, 542, 556, 558, 581, 583, 584, 589, 592], dtype='int64'),
 ('E',
  'remo'): Int64Index([100, 104, 112, 116, 134, 145, 150, 151, 173, 188, 191, 201], dtype='int64'),
 ('E',
  'tenis'): Int64Index([403, 407, 414, 416, 440, 441, 447, 448, 453, 463, 468, 470, 474,
             475, 483, 484],
            dtype='int64'),
 ('E',
  'voley'): Int64Index([798, 809, 814, 816, 823, 824, 827, 833, 836, 839, 841, 863, 873], dtype='int64'),
 ('E',
  'yudo'): Int64Index([891, 892, 897, 911, 922, 932, 935, 968, 975, 977, 980], dtype='int64'),
 ('F',
  'arco'): Int64Index([618, 629, 634, 636, 643, 646, 657, 670, 680, 681, 688], dtype='int64'),
 ('F',
  'boxeo'): Int64Index([213, 215, 224, 228, 232, 249, 265, 278, 282, 283, 288, 289, 290,
             293, 294, 295],
            dtype='int64'),
 ('F',
  'dance'): Int64Index([304, 307, 308, 310, 311, 316, 330, 331, 337, 348, 352, 359, 361,
             368, 376, 378, 385, 388, 391],
            dtype='int64'),
 ('F',
  'equitacion'): Int64Index([704, 705, 709, 728, 735, 748, 756, 757, 760, 768, 772, 775, 777,
             778, 780],
            dtype='int64'),
 ('F',
  'futbo'): Int64Index([6, 11, 16, 28, 32, 35, 39, 53, 59, 71, 79, 83], dtype='int64'),
 ('F',
  'natacion'): Int64Index([505, 511, 515, 517, 523, 528, 530, 546, 547, 550, 560, 562, 564,
             576, 577, 591],
            dtype='int64'),
 ('F',
  'remo'): Int64Index([99, 101, 113, 122, 131, 135, 146, 149, 153, 155, 157, 159, 161,
             181, 187, 195],
            dtype='int64'),
 ('F',
  'tenis'): Int64Index([406, 411, 427, 429, 442, 459, 472, 480, 490, 496], dtype='int64'),
 ('F',
  'voley'): Int64Index([803, 804, 805, 807, 808, 840, 843, 851, 860, 862, 869], dtype='int64'),
 ('F',
  'yudo'): Int64Index([890, 921, 926, 929, 931, 938, 941, 946, 952, 957, 974], dtype='int64'),
 ('G',
  'arco'): Int64Index([602, 610, 649, 653, 658, 665, 667, 668, 671, 672, 673, 682, 686], dtype='int64'),
 ('G',
  'boxeo'): Int64Index([203, 218, 230, 235, 247, 257, 268, 275, 291, 292], dtype='int64'),
 ('G',
  'dance'): Int64Index([309, 313, 319, 320, 332, 334, 336, 344, 358, 360, 372, 374, 390], dtype='int64'),
 ('G',
  'equitacion'): Int64Index([697, 706, 707, 708, 716, 738, 740, 766, 770, 774], dtype='int64'),
 ('G',
  'futbo'): Int64Index([0, 1, 4, 10, 12, 14, 33, 36, 37, 50, 56, 57, 69, 76, 82, 85, 87], dtype='int64'),
 ('G',
  'natacion'): Int64Index([525, 534, 537, 561, 565, 567, 572, 590, 593], dtype='int64'),
 ('G',
  'remo'): Int64Index([105, 106, 109, 126, 139, 148, 160, 162, 192, 199], dtype='int64'),
 ('G',
  'tenis'): Int64Index([395, 396, 397, 399, 408, 410, 412, 422, 425, 430, 436, 452, 455,
             456, 460, 467, 479, 486, 488, 493, 494, 499],
            dtype='int64'),
 ('G',
  'voley'): Int64Index([790, 793, 794, 810, 812, 817, 818, 822, 837, 844, 845, 858, 866,
             870, 880, 882],
            dtype='int64'),
 ('G',
  'yudo'): Int64Index([885, 887, 895, 903, 906, 910, 913, 933, 936, 953, 954, 959, 981,
             985],
            dtype='int64')}